<form class="form" [formGroup]="form" (ngSubmit)="sendAction()">
  <div class="container">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input
        [readonly]="disabled"
        type="text"
        matInput
        [errorStateMatcher]="matcher"
        formControlName="name"
      />
      <mat-error
        *ngIf="form.controls['name'].touched && form.controls['name'].invalid"
      >
        Must insert a valid name
      </mat-error>
    </mat-form-field>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close="close" mat-raised-button>
        Back
      </button>
      <button
        type="submit"
        *ngIf="!disabled"
        [disabled]="!this.form.valid"
        mat-button
        mat-dialog-close="close"
        mat-raised-button
        color="accent"
      >
        Ok
      </button>
      <button
        type="reset"
        *ngIf="!disabled"
        mat-button
        mat-raised-button
        color="primary"
      >
        Reset
      </button>
    </mat-dialog-actions>
  </div>
</form>
