<section *ngIf="party$ | async as party">
  <header class="party-header">
    <h1>{{ party.name | titlecase }}</h1>
    <ul class="party-users">
      <li *ngFor="let user of party.users" class="party-user">
        <div
          [style.background-image]="'url(' + user.image + ')'"
          [matBadge]="userStatusMap[user.status || 'PENDING']"
          matBadgeColor="primary"
          matTooltip="{{ user.username }}"
        ></div>
      </li>
    </ul>
    <div class="party-actions">
      <button
        mat-button
        *ngIf="myStatus === 'ORGANIZER' && partyStatus"
        (click)="confirmParty()"
      >
        Confirm trip
      </button>
      <button mat-button *ngIf="myStatus" (click)="leaveParty()">
        Leave Party
      </button>
      <button mat-button *ngIf="!myStatus" (click)="joinParty()">
        <mat-icon>start</mat-icon>
        <span>Join Party</span>
      </button>
      <button mat-button *ngIf="!myStatus" (click)="organizeParty()">
        Become organizer
      </button>
      <button mat-button *ngIf="myStatus === 'PENDING'" (click)="checkout()">
        Checkout
      </button>
      <button
        mat-button
        *ngIf="myStatus === 'READY'"
        (click)="cancelCheckout()"
      >
        Cancel checkout
      </button>
    </div>
  </header>
  <mat-divider></mat-divider>
  <article class="party-content">
    <mat-card
      class="party-trip-container mat-elevation-z0"
      *ngIf="party.trip; else noTrip"
    >
      <mat-card-title-group>
        <mat-card-title>{{ party.trip?.destination?.name }}</mat-card-title>
        <mat-card-subtitle
          ><b>Hotel</b>: {{ party.trip?.hotel?.name }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Address</b>: {{ party.trip?.hotel?.address }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Phone</b>: {{ party.trip?.hotel?.phone }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Departure date</b>:
          {{ party.trip?.from | date }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Arrival date</b>: {{ party.trip?.to | date }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Transport by</b>:
          {{ party.trip?.transport?.type }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Company</b>: {{ party.trip?.transport?.brand }}</mat-card-subtitle
        >
        <mat-card-subtitle>
          <b>Transport description</b>:
          {{ party.trip?.transport?.name }}</mat-card-subtitle
        >

        <img
          mat-card-xl-image
          src="{{ party.trip?.hotel?.image }}"
          alt="Hotel image"
        />
      </mat-card-title-group>
      <mat-card-content class="party-description">
        {{ party.trip.destination?.description }}
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <button mat-button>
            <mat-icon>edit</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
    <div class="party-chat-container">
      <div class="chat" *ngIf="myStatus; else notInParty">
        <proyecto-integrado-chat
          [me]="me"
          [messages$]="message$"
          (sendMessageEmitter)="sendMessage($event)"
        ></proyecto-integrado-chat>
      </div>
    </div>
  </article>
</section>
<ng-template #noTrip>
  <section class="error no-trip-selected">
    <p>There's no trip selected 😢</p>
    <button *ngIf="myStatus === 'ORGANIZER'" mat-button (click)="selectTrip()">
      Select a trip!
    </button>
  </section>
</ng-template>
<ng-template #notInParty>
  <div class="error not-in-party">
    <p>You must join this party to see the chat</p>
  </div>
</ng-template>
