<section class="cards">
  <header>
    <h2>My parties</h2>
    <button mat-button (click)="createParty()" matTooltip="Add a new Party">
      <mat-icon>add</mat-icon>
    </button>
  </header>
  <div class="party-cards">
    <proyecto-integrado-party-card
      class="party-card"
      [userInParty]="true"
      *ngFor="let party of myParties$ | async"
      [party]="party"
      (leavePartyEvent)="leaveParty($event)"
    ></proyecto-integrado-party-card>
  </div>
  <mat-divider></mat-divider>
  <header>
    <h2>Find Parties</h2>
  </header>
  <div class="party-cards">
    <proyecto-integrado-party-card
      class="party-card"
      [userInParty]="false"
      *ngFor="let party of allParties$ | async"
      [party]="party"
      (joinPartyEvent)="joinParty($event)"
    ></proyecto-integrado-party-card>
  </div>
</section>
