.cards {
  text-align: center;

  h2 {
    font-size: 2em;
  }
  .party-cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  mat-divider {
    margin: 20px 0;
  }
}

@media screen and (max-width: 1230px) {
  .cards {
    .party-cards {
      flex-direction: column;
      justify-content: center !important;
      align-items: center !important;
      gap: 40px;
    }
  }
}
