<main>
  <section>
    <div class="form-image"></div>
    <mat-tab-group dynamicHeight mat-align-tabs="center" #tabs>
      <mat-tab label="Log in">
        <div class="mat-elevation-z0">
          <proyecto-integrado-login
            (loginEmitter)="login($event)"
          ></proyecto-integrado-login>
        </div>
      </mat-tab>
      <mat-tab label="Sign up">
        <div class="mat-elevation-z0">
          <proyecto-integrado-signup
            (signupEmitter)="signup($event)"
          ></proyecto-integrado-signup>
        </div>
      </mat-tab>
    </mat-tab-group>
  </section>
</main>
